:root {
  --main-color: rgb(11, 184, 11);
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  margin: 0 auto;
}
.app {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 95px 1fr;
  gap: 50px;
}

code {
  font-family: "Shadows Into Light", cursive;
}

button,
select,
input,
a {
  font-family: "Dosis", sans-serif;
}
