.card {
  margin: 4% auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.headerInfo {
  display: flex;
  background-color: var(--second-color);
  min-height: 300px;
}
.contentGeneraInfo {
  width: 50%;
  align-self: center;
  padding: 0 32px;
  text-align: start;
  color: var(--third-color);
}
.contentGeneraInfo .title {
  font-size: 30px;
  margin: 0px;
  margin-bottom: 24px;
}
.contentGeneraInfo .dataHealth {
  font-size: 20px;
}
.contentGeneraInfo .dataHealth .scores {
  margin: 0px;
}
.contentGeneraInfo .dataHealth .scores .scoresTitle {
  color: white;
  font-weight: bold;
}
.contentImage {
  overflow: hidden;
  width: 50%;
}
.contentImage .image {
  width: 100%;
  height: 100%;
}

.contentTypes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.typesDiet,
.typesDish {
  border: 1px solid var(--text-color);
  min-width: 250px;
  width: min-content;
  padding: 22px 16px;
}
.titleType {
  text-align: start;
  font-size: 22px;
  font-weight: bold;

  color: var(--second-color);
  margin-bottom: 15px;
  display: block;
}
.listTypes {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: start;
}
.listItem {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0px 10px 10px;
}
.contentAllInfo {
  display: flex;
  gap: 30px;
}
.contentMainInfo {
  font-size: 16px;
}
.titleSummary,
.titleSteps {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  color: var(--text-color);
}
.contentSummary,
.contentSteps {
  color: var(--second-color);
  font-size: 18px;
  margin: 0px;
  padding: 0px 0px 25px 10px;
}
.contentSteps ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.contentSteps p {
  margin: 0px;
}

@media (max-width: 1300px) {
  .card {
    width: 85%;
    gap: 70px;
  }
}
@media (max-width: 900px) {
  .card {
    width: 90%;
    gap: 50px;
  }
  .contentAllInfo {
    display: block;
  }
  .contentTypes {
    flex-direction: row;
    justify-content: center;
  }
  .contentMainInfo {
    margin-top: 50px;
  }
}
@media (max-width: 800px) {
  .headerInfo {
    min-height: 250px;
  }
  .typesDiet,
  .typesDish {
    min-width: 200px;
  }
}
@media (max-width: 700px) {
  .headerInfo {
    min-height: 200px;
  }
  .typesDiet,
  .typesDish {
    min-width: 180px;
  }

  .contentGeneraInfo {
    padding: 0 20px;
  }
  .contentGeneraInfo .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .contentGeneraInfo .dataHealth {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .headerInfo {
    min-height: auto;
  }
  .typesDiet,
  .typesDish {
    min-width: 120px;
  }
  .contentGeneraInfo {
    padding: 0 20px;
  }
  .contentGeneraInfo .title {
    font-size: 20px;
  }
  .contentGeneraInfo .dataHealth {
    font-size: 15px;
  }

  .titleType {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .listItem {
    font-size: 14px;
    padding: 5px 0px 5px 5px;
  }
}
