.form {
  width: 30%;
  margin: 3% auto;
  padding: 2%;
  border-radius: 5px;
}
.form .titleForm {
  text-align: center;
  font-size: 2rem;
  color: var(--second-color);
  font-weight: bold;
  margin: 0;
  margin-bottom: 3%;
}
.sectionsForm {
  width: 100%;
  margin-bottom: 15px;
}
.contentTitleSection {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleSection {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  width: max-content;
}
.labelError {
  margin-left: 6%;
  font-size: 0.8rem;
  color: var(--third-color);
  text-align: right;
  font-weight: bold;
}

.inputSection {
  padding: 1%;
  outline: none;
  width: 100%;
  margin-left: 5px;
  border: 1px solid rgba(209, 213, 219);
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  transition:
    border-bottom 0.3s,
    background-color 0.3s;
}

.inputSection::placeholder {
  color: rgb(201, 201, 201);
  font-size: 1rem;
}

.inputSection:focus {
  background-color: #1b4f7238;
  border-color: rgb(189, 189, 189);
  transition:
    border-bottom 0.3s,
    background-color 0.3s;
}

.diet {
  margin: 2% 0% 0% 4%;
  width: max-content;
}

.diet label {
  font-size: 1.5rem;
  color: var(--color1);
  font-weight: 500;
}
.diet input:checked + label {
  color: var(--color3);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15%;
}

.submit,
.error {
  text-decoration: none;
  text-align: center;
  width: 50%;
  height: min-content;
  justify-self: center;
  align-self: center;
  padding: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: var(--color1);
  color: var(--color3);
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  transition: background-color 0.7s;
}

.submit:hover {
  background-color: #82e0aa;
  color: #1b4f72;
  transition: background-color 0.7s;
}

.submit:active {
  transform: translateY(1px);
  box-shadow: none;
}

.contentLoad {
  align-self: center;
}

.error {
  cursor: default;
  box-shadow: none;
  background-color: #1b4f729d;
  color: #82e0aa9d;
}

@media (max-width: 1140px) {
  .form {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 790px) {
  .form {
    width: 80%;
  }

  .name {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .form {
    width: 90%;
  }
}

@media (max-width: 620px) {
  .form h2 {
    font-size: 2rem;
    margin-bottom: 2%;
  }

  .data input,
  .large textarea {
    font-size: 1.2rem;
  }

  .data input::placeholder {
    font-size: 0.7rem;
  }
  .large textarea::placeholder {
    font-size: 0.7rem;
  }

  .image {
    font-size: 1rem;
  }

  .large textarea {
    font-size: 1.1rem;
  }

  .diets {
    grid-column: 1/3;
    margin-bottom: 4%;
  }

  .diet label {
    font-size: 1.3rem;
  }

  .buttons {
    flex-direction: row;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 4%;
  }

  .submit,
  .link,
  .error {
    width: 30%;
    padding: 2%;
    font-size: 1.3rem;
  }

  .link {
    width: 27%;
  }
}

@media (max-width: 530px) {
  .image {
    display: none;
  }
  .data {
    grid-column: 1/3;
  }
}

@media (max-width: 440px) {
  .diets {
    grid-template-columns: min-content;
  }

  .diet label {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

@media (max-width: 350px) {
  .diet label {
    font-size: 1rem;
  }
  .form h2 {
    font-size: 1.5rem;
  }
  .name {
    font-size: 1rem;
  }
  .data input,
  .large textarea {
    font-size: 1rem;
  }
}

@media (max-width: 290px) {
  .name {
    font-size: 0.8rem;
  }

  .diet label {
    font-size: 0.8rem;
  }
  .labelError {
    font-size: 0.5rem;
  }
  .data input,
  .large textarea {
    font-size: 0.8rem;
  }

  .data input::placeholder {
    font-size: 0.6rem;
  }
  .large textarea::placeholder {
    font-size: 0.6rem;
  }
}
