.form {
  width: 30%;
  margin: 0% auto;
  margin-bottom: 30px;
  padding: 0% 2%;
  border-radius: 5px;
}
.form .titleForm {
  text-align: center;
  font-size: 2rem;
  color: var(--second-color);
  font-weight: bold;
  margin: 0;
  margin-bottom: 3%;
}
.sectionsForm {
  width: 100%;
  margin-bottom: 15px;
}
.contentTitleSection {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleSection {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  width: max-content;
}
.labelError {
  margin-left: 6%;
  font-size: 0.9rem;
  color: red;
  text-align: right;
  font-weight: bold;
}

.inputSection {
  padding: 1%;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border: 1px solid rgba(209, 213, 219);
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  transition:
    border-bottom 0.3s,
    background-color 0.3s;
}

.inputSection::placeholder {
  color: rgb(201, 201, 201);
  font-size: 1rem;
}

.inputSection:focus {
  background-color: rgba(240, 240, 240, 0.637);
  border-color: rgb(189, 189, 189);
  transition:
    border-bottom 0.3s,
    background-color 0.3s;
}
.inputSection.inputError {
  background-color: rgba(255, 0, 0, 0.15);
  border-color: rgba(255, 0, 0, 0.1);
}
.inputSection.inputError::placeholder {
  color: rgba(0, 0, 0, 0.336);
}
.contentDiets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: flex-start;
}
.diet {
  width: max-content;
  margin-bottom: 5px;
}

.diet .dietName {
  color: var(--second-color);
  font-weight: bold;
  margin-left: 5px;
  text-transform: capitalize;
}
.diet input {
  cursor: pointer;
}
.diet input:checked + .dietName {
  color: var(--third-color);
}

.error {
  color: var(--second-color);
  background-color: white;
}

.submit {
  color: var(--text-color);
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.37);
}
.submit,
.error {
  text-align: center;
  font-size: 20px;
  height: min-content;
  padding: 5px 40px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgba(209, 213, 219);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.submit:hover {
  color: var(--second-color);
  background-color: #64b89641;
  transition: all 0.3s ease;
}
.submit:active {
  box-shadow: none;
  transform: translateY(1px);
}
.error {
  cursor: default;
  box-shadow: none;
  color: #82e0ab62;
}

@media (max-width: 1140px) {
  .form {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 790px) {
  .form {
    width: 80%;
  }

  .name {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .form {
    width: 90%;
  }
}

@media (max-width: 620px) {
  .form h2 {
    font-size: 2rem;
    margin-bottom: 2%;
  }

  .data input,
  .large textarea {
    font-size: 1.2rem;
  }

  .data input::placeholder {
    font-size: 0.7rem;
  }
  .large textarea::placeholder {
    font-size: 0.7rem;
  }

  .image {
    font-size: 1rem;
  }

  .large textarea {
    font-size: 1.1rem;
  }

  .diets {
    grid-column: 1/3;
    margin-bottom: 4%;
  }

  .diet label {
    font-size: 1.3rem;
  }

  .buttons {
    flex-direction: row;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 4%;
  }

  .submit,
  .link,
  .error {
    width: 30%;
    padding: 2%;
    font-size: 1.3rem;
  }

  .link {
    width: 27%;
  }
}

@media (max-width: 530px) {
  .image {
    display: none;
  }
  .data {
    grid-column: 1/3;
  }
}

@media (max-width: 440px) {
  .diets {
    grid-template-columns: min-content;
  }

  .diet label {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

@media (max-width: 350px) {
  .diet label {
    font-size: 1rem;
  }
  .form h2 {
    font-size: 1.5rem;
  }
  .name {
    font-size: 1rem;
  }
  .data input,
  .large textarea {
    font-size: 1rem;
  }
}

@media (max-width: 290px) {
  .name {
    font-size: 0.8rem;
  }

  .diet label {
    font-size: 0.8rem;
  }
  .labelError {
    font-size: 0.5rem;
  }
  .data input,
  .large textarea {
    font-size: 0.8rem;
  }

  .data input::placeholder {
    font-size: 0.6rem;
  }
  .large textarea::placeholder {
    font-size: 0.6rem;
  }
}
