.contentHome {
  box-sizing: border-box;
  width: 65%;
  margin: 0 auto;
}
.contentMain {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 300px 1fr;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
}
.home {
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
}
.messageError {
  text-align: center;
  margin: 0px;
}
@media (max-width: 1700px) {
  .contentHome {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .contentHome {
    width: 90%;
  }
  .contentMain {
    gap: 35px;
  }
}
@media (max-width: 1200px) {
  .contentHome {
    width: 95%;
  }
  .contentMain {
    gap: 30px;
    grid-template-columns: 250px 1fr;
  }
}
@media (max-width: 1000px) {
  .contentMain {
    grid-template-columns: 300px 1fr;
  }
}
@media (max-width: 900px) {
  .contentMain {
    gap: 25px;
    grid-template-columns: 250px 1fr;
  }
}
@media (max-width: 800px) {
  .contentHome {
    width: 85%;
  }
  .contentMain {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .contentHome {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .contentHome {
    width: 80%;
  }
}
