.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  align-items: center;
  overflow: hidden;
  background-color: #82e0ab;
  height: 300px;
}

.card img {
  width: 100%;
  height: 200px;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.452);
  transform: scale(1.2);
  transition: transform .3s ease;
}
.card:hover img {
  transform: scale(1);
}
.contentTitle {
  cursor: pointer;
  background-color: #82e0ab;
  box-sizing: border-box;
  padding: 10px;
  min-width: 100%;
  transform: translateY(0px);
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}
.contentTitle:hover {
  transform: translateY(-50px);
}

.info p {
  margin: 0%;
}

.title {
  height: 100px;
  text-align: start;
}

.link {
  text-align: center;
  text-decoration: none;
  color: #b03a2e;
  font-weight: bold;
  transition: color 0.2s;
}

.link:hover {
  color: white;
  transition: color 0.2s;
}

@media (max-width: 1190px) {
  .card {
    height: min-content;
  }

  .card img {
    height: 200px;
  }

  .info {
    height: 33vh;
  }

  .title {
    height: 10vh;
  }

  .info ul {
    font-size: 1rem;
    padding: 0% 6%;
    margin-top: 1%;
    margin-left: 5%;
    gap: 15%;
  }
  .link {
    margin-bottom: 5%;
  }
}

@media (max-width: 960px) {
  .info {
    height: 21vh;
  }

  .title {
    height: 7vh;
  }
}

@media (max-width: 780px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 665px) {
  .dieta {
    font-size: 1.2rem;
  }
}
@media (max-width: 510px) {
  .card {
    width: 90%;
  }
  .info {
    height: 24vh;
  }

  .title {
    height: 9vh;
  }
}

@media (max-width: 370px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 285px) {
  .card {
    width: 95%;
  }
  .info {
    height: 30vh;
  }

  .title {
    height: 10vh;
  }
}
