.contentButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contentButtons .buttonPaginated {
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: var(--second-color);
  height: 30px;
  width: 30px;
  padding: 0px;
}
.contentButtons .buttonPaginated.restPage:hover {
  color: #1b4f7293;
}

.contentButtons .buttonPaginated.currentPage {
  background-color: var(--second-color);
  color: white;
  border-radius: 50%;
}
.contentButtons .buttonPaginated.buttonActive:hover {
  color: #1b4f72;
}
.contentButtons .buttonPaginated.buttonDisabled {
  box-shadow: none;
  color: #82e0ab75;
  width: max-content;
  cursor: default;
}
.contentButtons .buttonPaginated.buttonActive {
  width: max-content;
  color: var(--text-color);
}

@media (max-width: 540px) {
  .sButtons {
    display: none;
  }
}

@media (max-width: 940px) {
  .contentButtons button {
    padding: 5px 0px;
    width: 4%;
  }
}

@media (max-width: 540px) {
  .contentButtons {
    justify-content: flex-start;
  }
}
