.cards {
  text-align: justify;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .cards {
    gap: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .cards {
    gap: 1rem;
  }
}
@media (max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
@media (max-width: 900px) {
  .cards {
    gap: 1rem;
  }
}
@media (max-width: 800px) {
  .cards {
    gap: 1.5rem;
  }
}
@media (max-width: 600px) {
  .cards {
    gap: 1rem;
  }
}
@media (max-width: 450px) {
  .cards {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}
