.font {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../../img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boton {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  color: black;
  padding: 1rem;
  cursor: pointer;
  font-size: 3rem;
  margin-top: 10rem;
  text-decoration: none;
}

.boton:active {
  transform: translateY(3%);
  box-shadow: none;
}
