.containerNav {
  width: 100%;
  position: sticky;
  inset: 0;
  height: min-content;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.925);
  box-shadow: 25px 26px 35px 5px transparent;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  color: var(--second-color);
  width: 65%;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
}

.logo img {
  width: 25%;
}

.logo .titleNav,
.enlaces {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--second-color);
  margin: 0px;
}

.rutas {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.enlaces {
  text-decoration: none;
  font-size: 1.4rem;
  position: relative;
  padding-bottom: 4px;
}

.enlaces::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--third-color);
  height: 3px;
  left: 0px;
  bottom: 0px;
  border-radius: 10px;
  transition: width 0.3s;
}

.enlaces:hover::before {
  width: 100%;
  transition: width 0.3s;
}

@media (max-width: 1700px) {
  .navigation {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .navigation {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .navigation {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .navigation {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .navigation {
    width: 90%;
  }
  .logo img {
    width: 20%;
  }
  .logo .titleNav,
  .enlaces {
    font-size: 1.2rem;
  }
  .rutas {
    gap: 20px;
  }
  .enlaces {
    font-size: 1.2rem;
    width: max-content;
  }
}

@media (max-width: 500px) {
  .titleNav {
    display: none;
  }
  .logo img {
    width: 35%;
    min-width: 40px;
  }
}
@media (max-width: 450px) {
  .navigation {
    width: 80%;
  }
  .rutas {
    gap: 10px;
  }
}
