.containerNav {
  width: 100%;
  position: sticky;
  inset: 0;
  height: min-content;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.925);
  box-shadow: 25px 26px 35px 5px transparent;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
  color: var(--second-color);
  width: 65%;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
}

.logo img {
  width: 25%;
}

.logo .titleNav,
.enlaces {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--second-color);
  margin: 0px;
}

.rutas {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.enlaces {
  text-decoration: none;
  font-size: 1.4rem;
  position: relative;
  padding-bottom: 4px;
}

.enlaces::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--third-color);
  height: 3px;
  left: 0px;
  bottom: 0px;
  border-radius: 10px;
  transition: width 0.3s;
}

.enlaces:hover::before {
  width: 100%;
  transition: width 0.3s;
}

@media (max-width: 665px) {
  .logo img {
    width: 20%;
  }

  .logo p,
  .enlaces {
    font-size: 1.3rem;
  }
  .navigation {
    padding: 0.1rem;
  }

  .rutas {
    gap: 4%;
    margin-right: 1rem;
  }
}

@media (max-width: 490px) {
  .logo img {
    width: 19%;
  }

  .logo p,
  .enlaces {
    font-size: 1.1rem;
  }

  .rutas {
    gap: 6%;
    margin-right: 1rem;
  }
}

@media (max-width: 370px) {
  .logo p,
  .enlaces {
    font-size: 1rem;
  }

  .rutas {
    gap: 5%;
    margin-right: 0.8rem;
  }
}

@media (max-width: 285px) {
  .logo {
    gap: 0.5rem;
    margin-left: 0.5rem;
    width: 30%;
  }
  .logo p,
  .enlaces {
    font-size: 0.8rem;
  }

  .rutas {
    margin-right: 0.1rem;
    width: 60%;
    gap: 7%;
  }
}
